.item-detail {
    display: flex;
    padding: 15px; 
    border: 2px solid gold;
    background-color: black;
    color: gold;
    margin-bottom: 20px;
}

.images-detail-container {
    width: 45%; 
    padding: 8px; 
    box-sizing: border-box;
}

.secondary-images {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; 
    margin-bottom: 12px; 
}

.main-image img {
    width: 100%;
    border: 2px solid gold;
}

.text-detail-container {
    width: 45%; 
    padding: 8px; 
    color: gold;
    box-sizing: border-box;
}

.title-detail {
    font-size: 22px; 
    font-weight: bold;
    margin-bottom: 8px; 
    color: gold;
}

.text-detail {
    font-size: 16px; 
    margin-bottom: 8px; 
    color: gold;
}

.button-end {
    background-color: gold;
    color: black;
    border: none;
    padding: 8px 18px; 
    text-decoration: none;
    font-size: 16px; 
    cursor: pointer;
    display: inline-block;
    margin-top: 8px; 
}

.button-end a {
    color: black;
    text-decoration: none;
}

.button-end:hover {
    background-color: black;
    color: gold;
}

