form {
    background-color: gold;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 20px auto;
}


form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}


form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 14px;
}

form button {
    background-color: black;
    color: gold;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 1s;
}

button:hover {
    background-color: gold;
    color: black;
    border-color: black;
}

.order-finish {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}