.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    color: black;
    .brand{
        display: flex;
        align-items: center;
        img{
            width: 100px;
            margin-right: 15px;
        }
        p{
            font-size: 20px;
        }
    }
    .categorias{
        display: flex;
        list-style: none;
        li{
            margin: 20px;
            font-size: 25px;
        }
    }
    .carrito{
        display: flex;
        font-size: 40px;
        align-items: center;
        p{
            font-size: 20px;
            margin: 10px;
        }
    }
}

